include ../../components/button/button.pug
mixin dropdown(cat1, cat2, cat3, cat1quant1, cat1quant2, cat1quant3, cat2quant1, cat2quant2, cat2quant3, cat3quant1, cat3quant2, cat3quant3, width, buttons)
  div(class="dropdown-wrapper" data-width=width)
    span(class="datastorage cat1quant1")= cat1quant1
    span(class="datastorage cat1quant2")= cat1quant2
    span(class="datastorage cat1quant3")= cat1quant3
    span(class="datastorage cat2quant1")= cat2quant1
    span(class="datastorage cat2quant2")= cat2quant2
    span(class="datastorage cat2quant3")= cat2quant3
    span(class="datastorage cat3quant1")= cat3quant1
    span(class="datastorage cat3quant2")= cat3quant2
    span(class="datastorage cat3quant3")= cat3quant3
    div(class="dropdown-header")
      span(class="category-one-count")= 0
      span &nbsp;
      span(class="category-one-name")= cat1quant3
      span &nbsp;
      span(class="category-two-count") 0
      span &nbsp;
      span(class="category-two-name")= cat2quant3
      span &nbsp;
      span(class="category-three-count") 0
      span &nbsp;
      span(class="category-three-name")= cat3quant3
      div(class="toggle-wrapper")
        div(class="dropdown-toggle")
    div(class="dropdown-categories")
      div(class="dropdown-category")
        div(class="category-type")= cat1
          div(class="category-counter")
            span(class='dropdown-minus' data-name="category-one") -
            span 1
            span(class='dropdown-plus' data-name="category-one") +
      div(class="dropdown-category")
        div(class="category-type")= cat2
          div(class="category-counter")
            span(class='dropdown-minus' data-name="category-two") -
            span 0
            span(class='dropdown-plus' data-name="category-two") +
      div(class="dropdown-category")
        div(class="category-type")= cat3
          div(class="category-counter")
            span(class='dropdown-minus' data-name="category-three") -
            span 0
            span(class='dropdown-plus' data-name="category-three") +
    if buttons
      div(class="dropdown-footer")
        div(class="button-wrapper")
          +button({text: 'очистить', isplain: 'plain', color: 'grey'})
          +button({text: 'применить', isplain: 'plain', color: 'purple'})