mixin radio(options={})
  label(class='radiomark__wrapper')
    input(type="radio" name=options.name value=options.value id=options.id checked=options.checked)
    label(for=options.id class="radiomark__label")=options.labeltext
    span(class="radiomark")