include ../../components/label/label.pug
mixin input(options={})
  -
    var icon = options.icon
    var text = options.text
    var type = options.type
    var readonly = options.readonly
    var input_classes = 'input'
    var input_wrapper_classes = 'input-wrapper input-wrapper_collapsed'
    input_classes += options.input_type ? ' input__' + options.input_type : ''
    input_wrapper_classes += options.length ? ' input-wrapper_' + options.length : ''
  +label({label: options.label})
  if options.input_type === 'datepicker-visible'
    input(class=input_classes)
  else
    div(class=input_wrapper_classes data-type=type)
      label(class='input-label')
        if type==='maskedtext'
          input(class=input_classes maxlength=50 placeholder=text type='password')
        else
          input(class=input_classes maxlength=50 placeholder=text readonly=readonly)
          if icon === 'tip'
            +materialicons({
                    type: 'keyboard_arrow_down',
                    color: 'grey',
                    size: 'base',
                })
          else if icon === 'arrow'
            +materialicons({
                    type: 'arrow_forward',
                    color: 'purple',
                    size: 'base',
                })



