include ../../components/materialicons/materialicons.pug
mixin slickslider(options={})
	div(class="slickslider__wrapper")
		div(class="slider demo")
			div(class="slide-1")
				img(class="slide" src=options.img1)
			div(class="slide-2")
				img(class="slide" src=options.img2)
			div(class="slide-3")
				img(class="slide" src=options.img3)
			div(class="slide-4")
				img(class="slide" src=options.img4)
		div(class="dtls__row")
			div
				div(class="dtls__sign") №
				div(class="dtls__number")= options.roomNumber
				div(class="dtls__lux")= options.isLux
			div
				div(class="dtls__price")= options.price
				div(class="dtls__currency") ₽
				div(class="dtls__period") в сутки
		div(class="dtls__line")
		div(class="dtls__row")
			div(class="rating")
				+materialicons({
					type: options.star1,
					color: 'purple',
					size: 'base',
			})
				+materialicons({
					type: options.star2,
					color: 'purple',
					size: 'base',
			})
				+materialicons({
					type: options.star3,
					color: 'purple',
					size: 'base',
			})
				+materialicons({
					type: options.star4,
					color: 'purple',
					size: 'base',
			})
				+materialicons({
					type: options.star5,
					color: 'purple',
					size: 'base',
			})
			div
				div(class="dtls__reviewamount")= options.reviewAmount
				div(class="dtls__review") Отзывов

